
body {
    margin-bottom: 4em;
}


.pizza-jumbotron-box {
    background-image: url(/img/pizza.png);
    height: 346px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3em;
}
#pizza-text-box {
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large ;
    font-weight: bold;
}
.card-footer {
    height: 3.5em;
}
#crust-next-step {
    float: right;
}
#size-and-crust {
    border: lightgray solid 1px;
}