

@media screen and (max-width: 720px) {

    * {
        box-sizing: border-box;
    }

    body {
        font-family: "Ubuntu", sans-serif;
    }

    h1 {
        text-align: center;
        font-size: xxx-large;
    }

    li a {
        display: flex;
        background: lightgray;
        justify-content: center;
        padding: 1em;
        margin-bottom: 0.5em;
    }
    ul {
        list-style-type: none;
    }
    .nav-links {
        display: flex;
        flex-direction: column;
        /*justify-content: center;*/
        padding: 0;
        width: 100%;
        margin: auto;
    }
    img {
        width: 100%;
        height: auto;
        margin-top: 1em;
    }
    .alert-info {
        display: flex;
        background: lightblue;
        justify-content: center;
        padding: 1em;
        margin-bottom: 0.5em;
        text-decoration: none;
    }

    #underline {
        text-decoration: none;
    }

    .sub-section {
        margin-top: 5em;
        font-style: italic;
        font-size: medium;
    }

    footer {
        margin-top: 5em;
    }
    footer p{
        float: left;
        margin-bottom: 2em;
    }
    #social-media-links{
        float: right;
        clear: right;
        margin-top: 1em;
    }

}

/*when desktop this code runs*/

@media screen and (min-width: 720px){

    body {
        font-family: "Ubuntu", sans-serif;
        position: relative;
    }

    h1 {
        font-size: xxx-large;
        float: left;
    }


    li a {
        padding: 1em;
    }
    ul {
        list-style-type: none;
    }
    .nav-links {
        display: flex;
        flex-direction: row;
        float: right;
        margin-top: 4em;
    }
    img {
        width: 100%;
        height: auto;
    }
    .alert-info {
        display: none;
    }

    #underline {
        text-decoration: none;
    }

    .sub-section {
        margin: 0;
        font-style: italic;
        font-size: medium;
        display: flex;
        justify-content: flex-end;
        align-self: flex-end;
        width: 33%;
        float: right;
        flex-direction: column;
    }

    #main {
        display: flex;
        justify-content: flex-end;
        align-self: flex-end;
        width: 66%;
        float: left;
        margin: 0;
        clear: right;
        flex-direction: column;
    }


    footer {
        margin-top: 20em;
    }
    footer p {
        float: left;
    }
    #social-media-links {
        float: right;
        margin-top: 1em;
    }


}