body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message{
    height: 0.1em;
    width: 40em;
    margin: 0.5em;
    padding: 13px 5px 30px 15px;
    border-radius: 5px;
    border: 1px solid lightgray;
}

.message-info{
    color: #00008B;
    background-color: #A7C7E7;
}

.message-success{
    color: #097969;
    background-color: #AFE1AF;
}

.message-warning{
    color: #8B8000;
    background-color: #FFFDD0;
}

.message-error{
    color: #8B0000;
    background-color: pink;
}

