.fancy-header {
    color: purple; /* single line comment */
    text-decoration: underline;
    text-align: center;
}

h2 {
    color: lightgoldenrodyellow;
}

html {
    background-color: antiquewhite;
}

body{
    background-image: url("/img/pexels-quintin-gellar-313782.jpg");
    color: white;
    font-family: "Raleway", sans-serif;
}

footer {
    color: white;
}

#bullet-points {
    list-style-type: square;
}

td, tr, th {
    padding: 1em;
    border: 0.5em solid;
    font-size: small
}

a:hover {
    color: green;
}
a:visited {
    color: red;
}
a:link {
    color: white;
}
a:active {
    color: blue;
}

img {
    padding-left: 3em;
    border: 1px aqua;
    width: 250px;
    height: 200px;
    transform: skew(20deg);
}

